section {
    padding: 2rem;
    margin: 1rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    color: white;
}

h2 {
    margin-bottom: 1rem;
    font-size: 22;
}

.imagen  {
    width: 400px;
    height: 100%;
}

.imagem  {
    width: 400px;
    height: 95%;
}

.cards {
    display: flex;
    gap: 1rem;
}

.card {
    background: #f4f4f4;
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0,3s ease, box-shadow 0.3 ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

body {
    background: url('https://st.depositphotos.com/1275255/2371/i/450/depositphotos_23712041-stock-photo-abstract-dark-blue-widescreen-art.jpg') no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: black;

}